User Registration
First Name : {{input type='text' value=firstName}} <br/>
Last Name : {{input type='text' value=lastName}} <br/>
Age Name : {{input type='text' value=age}} <br/>



Full Name : {{firstName}} {{lastName}}
<button {{action 'register'}}>Submit</button>
{{outlet}}
